<footer>
    <div class="container">
        <div class="footer-text">
            <h1>Connect with me!</h1>
            <p>I'm always happy to chat about anything over a Blue Bottle latte.</p>
        </div>
        <div class="email">
            <h3>Contact</h3>
            <p><a href="mailto:hello@calvinzheng.com" target="_top">hello@calvinzheng.com</a></p>
        </div>
        <div class="social">
            <h3>Social</h3>
            <p><a href="https://www.linkedin.com/in/zhengcalvin/" target="blank">LinkedIn</a><a href="https://instagram.com/czhengdesign"
                    target="blank">Instagram</a></p>
        </div>
    </div>
</footer>