<section class="hero">
    <div class="container">
        <div class="hero-text">
            <h1>Hi! I'm Calvin.</h1>
            <p>I'm a product designer currently based in San Francisco, exploring new avenues in banking at <a href="http://hvflabs.com">HVF Labs</a>.</p>
            <p>Outside of work, I enjoy drawing, annoying my friends by taking too many pictures of my food, and advocating for calling milk tea with pearls "bubble tea" instead of "boba".</p>
        </div>
    </div>
</section>