<section class="hero">
    <div class="container">
        <div class="hero-text">
            <h1>Hi! I'm Calvin.</h1>
            <p>I'm a product designer currently based in San Francisco, exploring new spaces at <a href="http://hvflabs.com" target="_blank">HVF Labs</a>.</p>
            <p>My goal is to be able to order food at any restaurant without looking at the price. That is what it means (for me) to succeed.</p>
            <p><a href="/assets/resume_calvinzheng.pdf" target="_blank">View my resume.</a></p>
        </div>
    </div>
</section>