<section class="projects">
    <div class="container">
        <div class="hero-text">
            <h1>My Work</h1>
        </div>
        {% assign sorted = site.projects | sort: 'order' %}
        {% for project in sorted %}
        <a href="{{ project.permalink | prepend: site.baseurl }}" class="project-thumbnail">
            <img src="{{ project.thumbnail | prepend: site.baseurl }}">
            <div class="overlay">
                <h1>{{ project.title }}</h1>
                <p>{{ project.preview }}</p>
            </div>
        </a>
        {% endfor %}
    </div>
</section>