<div class="work">
    {% assign sorted = site.projects | sort: 'order' %}
    {% for project in sorted %}
    <div class="link-container">
        <a href="{{ project.permalink | prepend: site.baseurl }}" class="project-thumbnail">
            <video autoplay muted loop playsinline>
                <source src="{{ project.thumbnail | prepend: site.baseurl }}" type="video/mp4">
            </video>
            <div class="overlay">
                <div class="overlay-text">
                    <h2>{{ project.title }}</h2>
                    <p>{{ project.preview }}</p>
                </div>
            </div>
        </a>
    </div>
    {% endfor %}
</div>