.for-hero {
    width: 100%;
    height: 100vh;
    background: #333333;
    background-image: radial-gradient(#fc5c7d, #6a82fb);
    background-size: 200% 200%;
    background-position: 0 0;
    animation: border 5s linear infinite;
    box-sizing: border-box;
    border: 3vw solid #333333;
    display: flex;
    align-items: center;
    justify-content: center;

    .hero-for {
        display: flex;
        flex-direction: column;
        margin: 0;
        padding: 0;
        z-index: 10;

        h1 {
            font-family: 'Yeseva One', serif;
            font-weight: 400;
            font-size: 144px;
            color: #fff;
            background: linear-gradient(to right, #fc5c7d, #6a82fb, #fc5c7d);
            background-size: 200% auto;
            animation: text 5s linear infinite;
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
            background-clip: text;
            margin: 0;
        }

        p {
            text-align: center;
            font-family: 'Exo', sans-serif;
            font-size: 16px;
            color: rgba(255, 255, 255, 0.9);
        }
    }
}

.for-hero:after {
    content: "";
    background: #333333;
    position: absolute;
    top: 3.5vw;
    right: 3.5vw;
    bottom: 3.5vw;
    left: 3.5vw;
}

@keyframes text {
    to {
        background-position: 200% center;
    }
}

@keyframes border {
    0% {
        background-position: 0 0;
    }

    20% {
        background-position: 100% 0;
    }

    40% {
        background-position: 100% 100%;
    }

    60% {
        background-position: 0 100%;
    }

    100% {
        background-position: 0 0;
    }
}

.archive {
    .container {
        .posts-list {
            grid-column: 3/11;

            ul {
                list-style-type: none;
                padding: 0;

                a {
                    display: block;
                    height: 72px;
                    border-bottom: 2px solid rgba(0, 0, 0, 0.1);

                    &:hover {
                        background: rgba(0, 0, 0, 0.1);
                        border-bottom: 2px solid rgba(0, 0, 0, 0);
                    }

                    li {


                        font-weight: bold;

                        line-height: 72px;
                        padding-left: 16px;
                    }
                }
            }
        }
    }
}