.case-intro {
    width: 100%;
    height: 100%;
    background: $black;

    .container {
        padding: 72px 0 72px 0;
    }

    h1 {
        color: $white;
        font-size: $heading-size;
        line-height: $heading;
        text-align: center;
        grid-column: span 12;

        @include respond (tablet) {
            grid-column: span 8;
        }

        @include respond (phone) {
            grid-column: span 4;
        }
    }

    p {
        color: $white;
        grid-column: 4/10;
        text-align: center;

        @include respond (tablet) {
            grid-column: 2/8;
        }

        @include respond (phone) {
            grid-column: span 4;
        }
    }

    a {
        text-decoration: none;
        color: $white;
        border-bottom: 1px solid $white;
        transition: all 0.1s;
        -moz-transition: all 0.1s;
        -webkit-transition: all 0.1s;
    
        &:hover {
            color: $green;
            border-bottom: 1px solid $green;
        }
    }

    .caption {
        font-family: $sans-serif;
        color: $white;
        text-align: center;
        font-weight: $regular;
        font-size: $caption-size;
        line-height: $caption;
        font-style: italic;
        grid-column: 4/10;

        @include respond (tablet) {
            grid-column: 2/8;
        }

        @include respond (phone) {
            grid-column: span 4;
        }
    }
}

.case-cover {
    grid-column: span 12;

    @include respond (tablet) {
        grid-column: span 8;
    }

    @include respond (phone) {
        grid-column: span 4;
    }

    img {
        width: 100%;
        display: block;
    }
}

.case-text {

    h1 {
        margin-top: 48px;
        grid-column: 4/10;

        @include respond (tablet) {
            grid-column: 2/8;
        }

        @include respond (phone) {
            grid-column: span 4;
        }
    }

    h3 {
        font-family: $sans-serif;
        grid-column: 4/10;
        margin-bottom: 8px;
        font-weight: 700;

        @include respond (tablet) {
            grid-column: 2/8;
        }

        @include respond (phone) {
            grid-column: span 4;
        }
    }

    p {
        grid-column: 4/10;

        @include respond (tablet) {
            grid-column: 2/8;
        }

        @include respond (phone) {
            grid-column: span 4;
        }
    }

    ol {
        font-family: $sans-serif;
        color: $grey;
        font-size: $body-size;
        line-height: $paragraph;
        grid-column: 4/10;

        @include respond (tablet) {
            grid-column: 2/8;
        }

        @include respond (phone) {
            grid-column: span 4;
        }
    }

    .case-image {
        grid-column: span 12;
        margin: 24px 0 24px 0;

        @include respond (tablet) {
            grid-column: span 8;
        }

        @include respond (phone) {
            grid-column: span 4;
        }

        img {
            width: 100%;
        }

        video {
            width: 100%;
        }
    }

    .img-grid {
        grid-column: span 12;
        display: grid;
        grid-template-columns: repeat(12, 1fr);
        grid-column-gap: 16px;
        margin-top: 48px;

        @include respond(tablet) {
            grid-column: span 8;
            grid-template-columns: repeat(8, 1fr);
        }

        @include respond(phone) {
            grid-column: span 4;
            grid-template-columns: repeat(4, 1fr);
        }

        .grid-image-3 {
            grid-column: span 4;

            img {
                width: 100%;
                display: block;
                margin-bottom: 16px;
            }

            video {
                width: 100%;
                display: block;
                margin-bottom: 16px;
            }
        }

        .grid-image {
            grid-column: span 3;

            @include respond(tablet) {
                grid-column: span 4;
            }

            a {

                border: none;

                img {
                    width: 100%;
                    display: block;
                    margin-bottom: 16px;
                }

                video {
                    width: 100%;
                    display: block;
                    margin-bottom: 16px;
                }
            }
        }

        p {
            grid-column: span 12;
            font-size: $caption-size;
            text-align: center;
            margin-bottom: 12px;

            @include respond(tablet) {
                grid-column: span 8;
            }

            @include respond(phone) {
                grid-column: span 4;
            }
        }
    }

    .back {
        grid-column: 4/10;

        @include respond (tablet) {
            grid-column: 2/8;
        }

        @include respond (phone) {
            grid-column: span 4;
        }

        p {
            margin-bottom: 48px;

            a {
                font-family: $sans-serif;
                color: $grey;
                transition: all 0.1s;
                -moz-transition: all 0.1s;
                -webkit-transition: all 0.1s;
                font-size: $body-size;
                border-bottom: 1px solid $grey;

                &:hover {
                    color: $green;
                    border-bottom: 1px solid $green;
                }
            }
        }
    }
}

.case-end {
    width: 100%;
    height: 100%;
    background: $black;

    .container {
        padding: 72px 0 72px 0;

        h1 {
            text-align: left;
            grid-column: span 12;

            @include respond (tablet) {
                grid-column: span 8;
            }

            @include respond (phone) {
                grid-column: span 4;
            }
        }

        .next {
            grid-column: span 12;
            text-align: left;
            line-height: $subheader;

            @include respond (tablet) {
                grid-column: span 8;
            }

            @include respond (phone) {
                grid-column: span 4;
            }

            a {
                font-family: $sans-serif;
                color: $white;
                transition: all 0.1s;
                -moz-transition: all 0.1s;
                -webkit-transition: all 0.1s;
                font-size: $subheader-size;
                border-bottom: 1px solid $white;


                &:hover {
                    color: $green;
                    border-bottom: 1px solid $green;
                }
            }
        }
    }
}