.case-intro {
    width: 100%;
    height: 100%;
    background: $black;

    .container {
        padding: 72px 0 72px 0;
    }

    h1 {
        font-family: $serif;
        color: $white;
        font-size: $heading-size;
        line-height: $heading;
        font-weight: $regular;
        text-align: center;
        grid-column: span 12;
    }

    p {
        font-family: $sans-serif;
        color: $white;
        font-size: $body-size;
        line-height: $paragraph;
        grid-column: 4/10;
        text-align: center;
    }

    .caption {
        font-family: $sans-serif;
        color: $white;
        text-align: center;
        font-weight: $regular;
        font-size: $caption-size;
        line-height: $caption;
        font-style: italic;
        grid-column: 4/10;
    }
}

.case-cover {
    grid-column: span 12;

    img {
        width: 100%;
        display: block;
    }
}

.case-text {

    h1 {
        font-family: $serif;
        color: $black;
        font-size: $heading-size;
        line-height: $heading;
        font-weight: $regular;
        margin-top: 48px;
        grid-column: 4/10;
    }

    h3 {
        font-family: $serif;
        color: $black;
        font-size: $subheader-size;
        line-height: $subheader;
        font-weight: $regular;
        grid-column: 4/10;
    }

    p {
        font-family: $sans-serif;
        color: $black;
        font-size: $body-size;
        line-height: $paragraph;
        grid-column: 4/10;
    }

    p:last-child {
        margin-bottom: 64px;
    }

    ol {
        font-family: $sans-serif;
        color: $black;
        font-size: $body-size;
        line-height: $paragraph;
        grid-column: 4/10;
    }

    .case-image {
        grid-column: span 12;
        margin: 24px 0 24px 0;

        img {
            width: 100%;
        }

        video {
            width: 100%;
        }
    }

    .back {
        grid-column: 4/10;

        a {
            font-family: $sans-serif;
            color: $black;
            transition: all 0.1s;
            -moz-transition: all 0.1s;
            -webkit-transition: all 0.1s;
            font-size: $body-size;
            border-bottom: 2px solid $black;

            &:hover {
                color: $green;
                border-bottom: 2px solid $green;
            }
        }
    }
}

.case-end {
    width: 100%;
    height: 100%;
    background: $black;

    .container {
        padding: 72px 0 72px 0;

        h1 {
            font-family: $serif;
            color: $white;
            font-size: $heading-size;
            line-height: $heading;
            font-weight: $regular;
            text-align: center;
            grid-column: span 12;
        }

        .next {
            grid-column: span 12;
            text-align: center;
            line-height: $subheader;

            a {
                font-family: $sans-serif;
                color: $white;
                transition: all 0.1s;
                -moz-transition: all 0.1s;
                -webkit-transition: all 0.1s;
                font-size: $subheader-size;
                border-bottom: 2px solid $white;


                &:hover {
                    color: $green;
                    border-bottom: 2px solid $green;
                }
            }
        }
    }
}