.hero-text {
    grid-column: span 6;
    margin: 72px 0 72px 0;

    h1 {
        font-family: $serif;
        font-weight: $regular;
        font-size: $heading-size;
        color: $black;
    }

    p {
        font-family: $sans-serif;
        font-weight: $regular;
        font-size: $body-size;
        color: $black;
    }
}