.hero-text {
    grid-column: span 6;
    margin: 72px 0 72px 0;

    @include respond (tablet) {
        grid-column: span 6;
    }

    @include respond (phone) {
        grid-column: span 4;
    }

    h1 {
        font-family: $serif;
        font-weight: $regular;
        font-size: $heading-size;
        color: $black;
    }

    p {
        font-family: $sans-serif;
        font-weight: $regular;
        font-size: $body-size;
        color: $black;
        line-height: $paragraph;
    }
}