.hero {
    max-width: 1200px;
    margin: 0 auto;
    margin-top: 144px;
    margin-bottom: 96px;
}

.work {
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    justify-content: space-evenly;

    .link-container {
        position: relative;
        width: 50%;

        .overlay {
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            width: 0;
            background: $pink;
            overflow: hidden;
            height: 100%;
            transition: 0.2s ease-in-out;
        }

        .overlay-text {
            position: absolute;
            bottom: 16px;
            left: 24px;
            opacity: 0;
            transition: 0.4s ease;

            h3 {
                color: $black;
                font-size: 24px;
                margin-bottom: 8px;
            }

            p {
                margin-top: 8px;
                color: $black;
            }
        }

        video {
            display: block;
            width: 100%;
        }
    }

    .link-container:hover .overlay {
        width: 100%;
    }

    .link-container:hover .overlay-text {
        opacity: 1;
    }
}