@import "mixins";

body {
    margin: 0;
}

h1 {
    font-family: $serif;
    font-weight: $regular;
    font-size: $heading-size;
    color: $black;
    line-height: $heading;
}

h3 {
    font-family: $serif;
    color: $black;
    font-size: $subheader-size;
    line-height: $subheader;
    font-weight: $regular;
}

p {
    font-family: $sans-serif;
    font-weight: $regular;
    font-size: $body-size;
    color: $grey;
    line-height: $paragraph;
}

.container {
    max-width: $container-width;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-column-gap: 16px;
    margin: 0 auto;

    @include respond (tablet-wide) {
        margin: 0 16px 0 16px;
    }

    @include respond (tablet) {
        grid-template-columns: repeat(8, 1fr);
    }

    @include respond (phone) {
        grid-template-columns: repeat(4, 1fr);
    }
}

// hero

.hero-text {
    grid-column: span 6;
    margin: 72px 0 72px 0;

    @include respond (tablet) {
        grid-column: span 6;
    }

    @include respond (phone) {
        grid-column: span 4;
        margin-bottom: 24px;
    }
}

a {
    text-decoration: none;
    color: $grey;
    border-bottom: 1px solid $grey;
    transition: all 0.1s;
    -moz-transition: all 0.1s;
    -webkit-transition: all 0.1s;

    &:hover {
        color: $green;
        border-bottom: 1px solid $green;
    }
}

nav {
    max-width: 960px;
    margin: 0 auto;
    height: 100px;
    display: flex;
    justify-content: space-between;

    @include respond (tablet-wide) {
        margin: 0 16px 0 16px;
    }

    a {
        width: 48px;
        height: 48px;
        border: none;
        align-self: center;

        img {
            width: 100%;
            display: block;
        }

        &:hover {
            border: none;
        }
    }

    ul {
        align-self: center;
        list-style: none;

        li {
            display: inline;
            font-family: $sans-serif;
            font-weight: $regular;
            font-size: $body-size;
            margin-right: 16px;

            .active {
                border-bottom: 1px solid $green;
                color: $green;
            }

            a {
                text-decoration: none;
                color: $grey;
                border: none;
            }
        }

        li:last-child {
            margin-right: 0;
        }
    }
}

// projects

.projects {
    .container {
        .hero-text {
            margin: 0;
            display: none;

            @include respond (phone) {
                display: block;
            }
        }

        .project-thumbnail {
            grid-column: span 12;
            margin-bottom: 48px;
            overflow: hidden;
            box-sizing: border-box;
            display: block;
            position: relative;
            border: none;
            box-shadow: none;
            transition: all 1s;
            -webkit-transition: all 1s;
            -moz-transition: all 1s;

            @include respond (tablet) {
                grid-column: span 8;
            }

            @include respond (phone) {
                grid-column: span 4;
            }

            img {
                display: block;
            }

            .overlay {
                position: absolute;
                width: 100%;
                height: 100%;
                top: 0;
                left: 0;
                background: rgba(255, 255, 255, 0.75);
                z-index: 999;
                display: flex;
                justify-content: center;
                align-items: center;
                flex-direction: column;
                opacity: 0;
                transition: all 1s;
                -webkit-transition: all 1s;
                -moz-transition: all 1s;
                text-align: center;

                h1 {
                    @include respond (phone) {
                        font-size: $subheader-size;
                        line-height: $subheader;
                        margin-right: 8px;
                        margin-left: 8px;
                    }
                }

                p {
                    @include respond (phone) {
                        margin-right: 8px;
                        margin-left: 8px;
                    }
                }
            }

            &:hover {
                img {
                    -moz-transform: scale(1.1);
                    -webkit-transform: scale(1.1);
                    transform: scale(1.1);
                }

                .overlay {
                    opacity: 1;
                }

                border: none;
                box-shadow: 0 16px 24px 0 rgba(0, 0, 0, 0.1);
            }

            img {
                width: 100%;
                -moz-transition: all 1s;
                -webkit-transition: all 1s;
                transition: all 1s;
            }

            h3 {
                font-family: $sans-serif;
                font-weight: $bold;
                font-size: $subheader-size;
                margin-bottom: 8px;
                color: $black;
            }

            p {
                margin-top: 0;
                color: $grey;
            }
        }

        .project-thumbnail:last-child {
            margin-bottom: 0;
        }
    }
}

// about page

.about-image {
    grid-column: 1/6;
    padding: 20px 48px 48px 48px;
    margin-top: 48px;

    @include respond (tablet) {
        grid-column: 2/8;
        padding: 0 48px 0 48px;
    }

    @include respond (phone) {
        grid-column: span 4;
    }

    img {
        width: 100%;
        display: block;
        box-shadow: 0 16px 24px 0 rgba(0, 0, 0, 0.1);
    }
}

.about-text {
    margin-top: 48px;
    grid-column: span 6;

    @include respond (tablet) {
        grid-column: 2/8;
    }

    @include respond (phone) {
        grid-column: span 4;
        margin-top: 24px;
    }

    p:last-child {
        margin-bottom: 48px;
    }
}

// footer

footer {

    .footer-text {
        grid-column: 1/7;
        margin: 72px 0 0 0;

        @include respond (tablet) {
            grid-column: 1/7;
        }

        @include respond (phone) {
            grid-column: span 4;
        }
    }

    .email {
        grid-column: 1/4;
        margin: 0 0 72px 0;

        @include respond (tablet) {
            grid-column: span 8;
            margin: 0;
        }

        @include respond (phone) {
            grid-column: span 4;
        }
    }

    .social {
        grid-column: 4/9;
        margin: 0 0 72px 0;

        @include respond (tablet) {
            grid-column: span 8;
        }

        @include respond (phone) {
            grid-column: span 4;
        }

        p {
            a:first-child {
                margin-right: 16px;
            }
        }
    }

    .email-small {
        grid-column: 1/4;
        margin: 24px 0 24px 0;

        @include respond (tablet) {
            grid-column: span 8;
            margin: 24px 0 0 0;
        }

        @include respond (phone) {
            grid-column: span 4;
        }
    }

    .social-small {
        grid-column: 4/9;
        margin: 24px 0 24px 0;

        @include respond (tablet) {
            grid-column: span 8;
            margin: 0 0 24px 0;
        }

        @include respond (phone) {
            grid-column: span 4;
        }

        p {
            a:first-child {
                margin-right: 16px;
            }
        }
    }
}

// 404 

.fourohfour {
    height: 60vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

// password protect

.password {
    grid-column: 4/9;
    margin-top: 144px;
    
    @include respond (tablet) {
        grid-column: 2/8;
    }

    @include respond (phone) {
        grid-column: span 4;
    }

    .button {
        background-color: $black;
        border: none;
        color: #ffffff;
        padding: 16px 24px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-family: sans-serif;
        font-size: $body-size;
        cursor: pointer;
    }
}