@import "mixins";

body {
    margin: 0;
}

.container {
    max-width: $container-width;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-column-gap: 16px;
    margin: 0 auto;

    @include respond (tablet-wide) {
        margin: 0 16px 0 16px;
    }

    @include respond (tablet) {
        grid-template-columns: repeat(8, 1fr);
    }

    @include respond (phone) {
        grid-template-columns: repeat(4, 1fr);
    }
}

a {
    text-decoration: none;
    color: $black;
    border-bottom: 2px solid $black;
    transition: all 0.1s;
    -moz-transition: all 0.1s;
    -webkit-transition: all 0.1s;

    &:hover {
        color: $green;
        border-bottom: 2px solid $green;
    }
}

nav {
    max-width: 960px;
    margin: 0 auto;
    height: 100px;
    display: flex;
    justify-content: flex-end;

    @include respond (tablet-wide) {
        margin: 0 16px 0 16px;
    }

    ul {
        align-self: center;
        list-style: none;

        li {
            display: inline;
            font-family: $sans-serif;
            font-weight: $regular;
            font-size: $body-size;
            margin-right: 16px;

            .active {
                border-bottom: 2px solid $green;
                color: $green;
            }

            a {
                text-decoration: none;
                color: $black;
                border: none;
            }
        }

        li:last-child {
            margin-right: 0;
        }
    }
}

// about page

.about-image {
    grid-column: 2/6;
    padding: 24px;
    margin-top: 48px;

    @include respond (tablet) {
        grid-column: 3/7;
    }

    @include respond (phone) {
        grid-column: span 4;
    }

    img {
        width: 100%;
        display: block;
        box-shadow: 0 16px 24px 0 rgba(0, 0, 0, 0.1);
    }
}

.about-text {
    margin-top: 48px;
    grid-column: span 6;

    @include respond (tablet) {
        grid-column: 2/8;
    }

    @include respond (phone) {
        grid-column: span 4;
        margin-top: 24px;
    }

    h1 {
        font-family: $serif;
        color: $black;
        font-size: $heading-size;
        line-height: $heading;
        font-weight: $regular;
    }

    h3 {
        font-family: $serif;
        color: $black;
        font-size: $subheader-size;
        line-height: $subheader;
        font-weight: $regular;
    }

    p {
        font-family: $sans-serif;
        color: $black;
        font-size: $body-size;
        line-height: $paragraph;
    }

    p:last-child {
        margin-bottom: 64px;
    }
}

// footer

footer {

    .footer-text {
        grid-column: span 6;
        margin: 72px 0 72px 0;

        @include respond (tablet) {
            grid-column: span 6;
        }

        @include respond (phone) {
            grid-column: span 4;
        }

        h1 {
            font-family: $serif;
            font-weight: $regular;
            font-size: $heading-size;
            color: $black;
            line-height: $heading;
        }

        h3 {
            font-family: $serif;
            color: $black;
            font-size: $subheader-size;
            line-height: $subheader;
            font-weight: $regular;
        }

        p {
            font-family: $sans-serif;
            font-weight: $regular;
            font-size: $body-size;
            color: $black;
            line-height: $paragraph;
        }
    }
}