body {
    margin: 0;
    background: #0D1527;

    @include respond(laptop) {
        margin: 0 16px;
    }
}

.nav-contain {
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    transition: 0.2s ease-in-out;

    @include respond(laptop) {
        margin: 0 16px;
    }

    .nav {
        max-width: 1200px;
        width: 100%;
        margin: 0 auto;
        padding: 24px 0;
        transition: 0.2s ease-in-out;

        .logo-home {
            width: 56px;
            height: 56px;
            display: block;
            border-left: 1px solid $pink;
            text-decoration: none;
            box-shadow: none;
            position: relative;

            .overlay {
                position: absolute;
                top: 0;
                left: 0;
                right: 0;
                width: 0;
                overflow: hidden;
                height: 100%;
                background: $pink;
                transition: 0.2s ease-in-out;
                z-index: -1;
            }

            img {
                display: block;
                box-sizing: border-box;
                width: 100%;
                padding: 8px;
            }
        }

        .scrolly-logo {
            width: 48px;
            height: 48px;
            opacity: 0.5;
        }

        .logo-home:hover .overlay {
            width: 100%;
        }

        .logo-home:hover img {
            filter: invert(100%) sepia(100%) saturate(0%) hue-rotate(119deg) brightness(104%) contrast(102%);
        }

        .logo-home:hover {
            opacity: 1;
        }
    }

    .scrolly {
        padding: 0;
    }
}

.scrolly-bg {
    background: linear-gradient(to bottom, $black, rgba(13, 21, 39, 0));
    height: 96px;
}

.grid {
    position: fixed;
    margin: 0 auto;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    max-width: 1200px;
    z-index: -1;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: space-evenly;
    box-sizing: border-box;

    .grid-group:nth-child(1) {
        border-left: 1px solid rgba(255, 255, 255, 0.07);
    }

    .grid-group {
        border-right: 1px solid rgba(255, 255, 255, 0.07);
        width: 25%;
        height: 100%;
    }

    @include respond(laptop) {
        padding: 0 16px;
    }

    @include respond(phone) {
        .grid-group:nth-child(2), .grid-group:nth-child(3) {
            display: none;
        }

        .grid-group { 
            width: 50%;
        }
    }
}

a {
    text-decoration: none;
    color: $white;
    transition: all 0.3s ease;
    box-shadow: inset 0 -0.15rem 0 $pink;

    &:hover {
        box-shadow: inset 0 -1.2rem 0 $pink;
        color: $black;
    }
}
