.container {
    max-width: $container-width;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-column-gap: 16px;
    margin: 0 auto;
}

a {
    text-decoration: none;
    color: $black;
    border-bottom: 2px solid $black;
    transition: all 0.1s;
    -moz-transition: all 0.1s;
    -webkit-transition: all 0.1s;

    &:hover {
        color: $green;
        border-bottom: 2px solid $green;
    }
}

nav {
    max-width: 960px;
    margin: 0 auto;
    height: 100px;
    display: flex;
    justify-content: flex-end;

    ul {
        align-self: center;
        list-style: none;

        li {
            display: inline;
            font-family: $sans-serif;
            font-weight: $regular;
            font-size: $body-size;
            margin-right: 16px;

            .active {
                border-bottom: 2px solid $green;
                color: $green;
            }        

            a {
                text-decoration: none;
                color: $black;
                border: none;
            }
        }

        li:last-child {
            margin-right: 0;
        }
    }
}

footer {

    .footer-text {
        grid-column: span 12;
        margin: 72px 0 72px 0;

        h1 {
            font-family: $serif;
            font-weight: $regular;
            font-size: $heading-size;
            color: $black;
        }

        p {
            font-family: $sans-serif;
            font-weight: $regular;
            font-size: $body-size;
            color: $black;
            line-height: $paragraph;
        }
    }
}