.project-header {

    .intro {
        //background: #0D1527;
        padding: 144px 0;

        @include respond(tablet) {
            padding-bottom: 48px;
        }

        h1, p {
            text-align: center;
            max-width: 600px;
            margin: 0 auto;
            color: #fff;

            @include respond(laptop) {
                max-width: 50%;
            }

            @include respond(tablet) {
                max-width: 100%;
            }
        }

        h1 {
            margin-bottom: 16px;
        }
    }

    .cover {
        width: 100%;

        img, video {
            display: block;
            width: 100%;
        }
    }
}

.content {
    padding-top: 40px;

    h1,
    h2,
    h3,
    h4,
    h5,
    h6,
    p
    {
        max-width: 600px;
        margin: 0 auto;

        @include respond(laptop) {
            max-width: 50%;
        }

        @include respond(tablet) {
            max-width: 100%;
        }
    }

    h2 {
        margin-top: 8px;
        margin-bottom: 16px;
    }

    h3 {
        margin-top: 40px;
        margin-bottom: 8px;
    }

    h4 {
        margin-top: 48px;
        margin-bottom: 8px;
    }

    h5 {
        text-align: center;
        margin-bottom: 16px;
    }

    p {
        margin-top: 24px;
    }

    blockquote {
        max-width: 600px;
        margin: 0 auto;
        margin-top: 40px;
        margin-bottom: 40px;
        background: rgba(255, 255, 255, 0.05);
        border-left: 1px solid $pink;
        padding-top: 8px;
        padding-bottom: 8px;

        @include respond(laptop) {
            max-width: 50%;
        }

        @include respond(tablet) {
            max-width: 100%;
            margin-top: 24px;
            margin-bottom: 24px;
        }

        p {
            color: white;
            font-style: italic;
            font-size: 24px;
            max-width: 600px;
            margin-left: 24px;
            line-height: 34px;
            
            @include respond(tablet) {
                font-size: 20px;
                line-height: 28px;
            }
        }

        .quotee {
            font-size: 16px;
            font-style: normal;
            line-height: 16px;
            margin-bottom: 40px;
        }

        .quotee:last-child {
            margin-bottom: 24px;
        }
    }

    /*blockquote::before, blockquote::after {
        content: '';
        display: block;
        background: black;
        width: 10%;
        height: 1px;
        margin: 0 auto;
    }*/

    .highlighter-rouge {
        background: rgba(255, 255, 255, 0.05);
    }

    ol, ul {
        font-family: "sofia-pro", sans-serif;
        font-style: normal;
        font-weight: normal;
        font-size: 18px;
        line-height: 27px;
        color: $white;
        max-width: 600px;
        margin: 0 auto;
        margin-top: 16px;

        @include respond(laptop) {
            max-width: 50%;
        }

        @include respond(tablet) {
            max-width: 100%;
        }
    }

    .image {
        max-width: 1200px;
        margin: 0 auto;
        margin-top: 48px;
        margin-bottom: 64px;

        img, video {
            display: block;
            width: 100%;
            margin-bottom: 24px;
        }

        .shadow {
            box-shadow: 0 16px 24px 0 rgba(0, 0, 0, 0.05)
        }

        h5 {
            font-style: italic;
            max-width: 600px;
        }
    }

    .img-grid {
        max-width: 1200px;
        margin: 0 auto;
        margin-top: 48px;
        margin-bottom: 64px;

        h5 {
            margin-top: 24px;
            font-style: italic;
            max-width: 600px;
        }
    }

    .img-row {
        max-width: 1200px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin: 0 auto;
        background: #fff;

        .grid-image {
            width: 25%;

            img, video {
                width: 100%;
                display: block;
            }
        }
    }

    .bg {
        background: $white;
    }

    .img-grid-gifs {
        max-width: 1200px;
        background: #836AE9;
        display: flex;
        justify-content: space-around;
        margin: 0 auto;
        margin-top: 48px;
        margin-bottom: 64px;

        .image {
            margin: 24px;
            padding: 48px;
            background: $white;
            box-shadow: 0 16px 24px 0 rgba(0, 0, 0, 0.1);

            img {
                margin: 0 auto;
                height: 90%;
                width: auto;
            }
        }
    }

    .img-grid-around {
        max-width: 600px;
        display: flex;
        justify-content: space-around;
        margin: 0 auto;
        margin-bottom: 16px;

        .image {
            margin: 0;

            img {
                height: auto;
                width: 70%;
                margin: 0 auto;
                margin-top: 24px;
                margin-bottom: 24px;
            }
        }
    }
}

.case-footer {
    max-width: 1200px;
    margin: 0 auto;
    margin-top: 96px;
    display: flex;
    justify-content: space-evenly;

    h3, p {
        transition: 0.3s ease-in-out;
    }

    .back, .next {
        padding: 40px 0;
    }

    .back {
        width: 50%;
        box-shadow: none;
        transition: 0.3s ease-in-out;
        border-left: 1px solid rgba(0, 0, 0, 0);

        &:hover {
            border-left: 1px solid $pink;
            background: rgba(255, 255, 255, 0.05);

            h3, p {
                transform: translateX(24px);
            }
        }
    }

    .next {
        text-align: right;
        width: 50%;
        box-shadow: none;
        transition: 0.3s ease-in-out;
        border-left: 1px solid rgba(0, 0, 0, 0);

        &:hover {
            border-right: 1px solid $pink;
            background: rgba(255, 255, 255, 0.05);

            h3, p {
                transform: translateX(-24px);
            }
        }
    }
}
