@import "mixins";

/* colors */

$black: #0D1527;
$white: rgba(255, 255, 255, 1);
$pink: #FF9FF0;

/* type styles */

h1 {
    font-family: "sofia-pro", sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 48px;
    line-height: 60px;
    letter-spacing: -0.02em;
    color: $white;
}

h2 {
    font-family: "sofia-pro", sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 38px;
    line-height: 45px;
    letter-spacing: -0.02em;
    color: $white;
}

h3 {
    font-family: "sofia-pro", sans-serif;
    font-style: normal;
    font-weight: 600;
    text-transform: uppercase;
    font-size: 18px;
    line-height: 22px;
    letter-spacing: 0.03em;
    color: $pink;
}

h4 {
    font-family: "sofia-pro", sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 20px;
    letter-spacing: -0.01em;
    color: $white;
}

h5 {
    font-family: "sofia-pro", sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 18px;
    color: $white;
}

p {
    font-family: "sofia-pro", sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 24px;
    color: $white;
}