$container-width: 960px;
$serif: 'Playfair Display', serif;
//$serif: 'Nunito', sans-serif;
$heading-size: 30px;
$subheader-size: 20px;
$sans-serif: 'Nunito', sans-serif;
$regular: 400;
$bold: 700;
$body-size: 16px;
$black: #152425;
$green: #6FB9BE;