$container-width: 960px;
$serif: 'Playfair Display', serif;
$heading-size: 30px;
$subheader-size: 20px;
$sans-serif: 'Nunito', sans-serif;
$regular: 400;
$bold: 700;
$body-size: 16px;
$caption-size: 12px;
$paragraph: $body-size * 1.8;
$heading: $heading-size * 1.2;
$subheader: $subheader-size * 1.2;
$caption: $caption-size * 1.5;
$black: #152425;
$grey: #304445;
$green: #6FB9BE;
$white: #ffffff;