.project-header {

    .intro {
        background: #000;
        padding: 96px 0;

        h1 {
            text-align: center;
            max-width: 600px;
            margin: 0 auto;
            margin-bottom: 16px;
            color: #fff;
        }

        p {
            text-align: center;
            max-width: 600px;
            margin: 0 auto;
            color: #fff;
        }
    }

    .cover {
        width: 100%;

        img {
            display: block;
            width: 100%;
        }
    }
}

.content {

    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
        max-width: 600px;
        margin: 0 auto;
    }

    h2 {
        margin-top: 40px;
        margin-bottom: 16px;
    }

    h3 {
        margin-top: 24px;
        margin-bottom: 16px;
    }

    h5 {
        text-align: center;
        margin-bottom: 16px;
    }

    p {
        max-width: 600px;
        margin: 0 auto;
        margin-top: 16px;
        margin-bottom: 16px;
    }

    .highlighter-rouge {
        background: rgba(0, 0, 0, 0.1);
    }

    ol, ul {
        font-family: Sofia Pro;
        font-style: normal;
        font-weight: normal;
        font-size: 16px;
        line-height: 24px;
        color: rgba(0, 0, 0, 0.8);
        max-width: 600px;
        margin: 0 auto;
    }

    .image {
        max-width: 1200px;
        margin: 0 auto;
        margin-top: 24px;
        margin-bottom: 48px;

        img, video {
            display: block;
            width: 100%;
        }

        .shadow {
            box-shadow: 0 16px 24px 0 rgba(0, 0, 0, 0.05)
        }
    }

    .img-grid {
        max-width: 600px;
        display: flex;
        justify-content: space-between;
        margin: 0 auto;
        margin-top: 24px;
        margin-bottom: 16px;

        .image {
            margin: 0;
        }
    }

    .img-grid-around {
        max-width: 600px;
        display: flex;
        justify-content: space-around;
        margin: 0 auto;
        margin-top: 24px;
        margin-bottom: 16px;

        .image {
            margin: 0;
        }
    }
}