h1 {
    font-family: Sofia Pro;
    font-style: normal;
    font-weight: bold;
    font-size: 48px;
    line-height: 60px;
    letter-spacing: -0.02em;
    color: rgba(0, 0, 0, 0.9);
}

h2 {
    font-family: Sofia Pro;
    font-style: normal;
    font-weight: bold;
    font-size: 38px;
    line-height: 45px;
    letter-spacing: -0.02em;
    color: rgba(0, 0, 0, 0.9);
}

h3 {
    font-family: Sofia Pro;
    font-style: normal;
    font-weight: bold;
    font-size: 30px;
    line-height: 36px;
    letter-spacing: -0.02em;
    color: rgba(0, 0, 0, 0.9);
}

h4 {
    font-family: Sofia Pro;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 20px;
    letter-spacing: -0.01em;
    color: rgba(0, 0, 0, 0.9);
}

h5 {
    font-family: Sofia Pro;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 18px;
    color: rgba(0, 0, 0, 0.9);
}

p {
    font-family: Sofia Pro;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 24px;
    color: rgba(0, 0, 0, 0.8);
}