<!DOCTYPE html>

<html>

{% include head2.html %}

<body lucy>

    <section class="lucy">
        <div class="hero">
            <div class="lucy-blurb">
                <h1>Dear Lucy,</h1>
                <p>This is a collection of memories. So many things happen that we might just forget later, so for the ones I want us to remember, I write down. You can check this occasionally, because I'll continue to keep adding to this for as long as I can.</p>
                <a href="/entries/2018-11-02.html">From the beginning</a>
            </div>
            <img src="/assets/images/about/us.jpg">
        </div>
        <div class="container">
            <h1>Latest Entry</h1>
            {% assign sorted = site.entries | reverse %}
            {% for post in sorted limit: 1 %}
            <div class="recent">
                <h3>{{ post.title }}</h3>
                <time class="date">{{ post.date | date: "%B %-d, %Y" }}</time>
                <p>{{ post.content | strip_html | truncatewords:48}}</p>
                <a href="{{ post.url }}">
                    Read more
                </a>
            </div>
            {% endfor %}
            <h1>All Entries</h1>
            {% assign sorted = site.entries | reverse %}
            {% for post in sorted offset: 1 %}
            <a class="entry" href="{{ post.url }}">
                <div class="each">
                    <h4>{{ post.title }}</h4>
                    <time class="date"> {{ post.date | date: "%B %-d, %Y" }}</time>
                </div>
            </a>
            {% endfor %}
        </div>
    </section>

</body>

</html>