<!DOCTYPE html>

<html>
{% include head.html %}

<body>
    {% include nav.html %}
    <div class="case-intro">
        <div class="container">
            {% if page.title %}
            <h1>{{ page.title }}</h1>
            {% endif %}
            {% if page.blurb %}
            <p>{{ page.blurb }}</p>
            {% endif %}
            {% if page.nda %}
            <p class="caption">{{ page.nda }}</p>
            {% endif %}
        </div>
    </div>
    <div class="case-cover">
        {% if page.cover %}
        <img src="{{ page.cover | prepend: site.baseurl }}">
        {% endif %}
    </div>
    <div class="case-text">
        <div class="container">
            {{ content }}
            <h1>Thanks for reading!</h1>
            <div class="back">
                <p><a href="/">&larr; Take me home</a></p>
            </div>
        </div>
    </div>
    <div class="case-end">
        <div class="container">
            {% if page.next-title %}
            <h1>More Reading</h1>
            <div class="next">
                <p><a href="{{ page.next-url }}">{{ page.next-title }}</a></p>
            </div>
            {% endif %}
        </div>
    </div>
    <script src="/js/advanced-zoom.min.js"></script>
</body>

</html>